{% include 'myblogapp/base.html'%}




{%block content%}

<h1>Posts</h1>

<br>

{% if lastest_posts_list %}


<ul>

    {% for post in lastest_posts_list %}
    <li> <a href="{% url 'detail-post' post.pk %}">{{post.title}}</a> -- {{post.author}} --


        <small><a href="{% url 'filter' post.category|slugify %}"> {{post.category}} </a> --</small>

        {% if user.is_authenticated and user.id == post.author.id %}


        <small><a href="{% url 'update-post' post.pk %}"> (Edit) </a></small>
        <small><a href="{% url 'delete-post' post.pk %}"> (Delete) </a></small>



        {% endif %}

        <br>



        {{post.body|slice:":500"|safe}}

    </li>
    {% endfor %}

</ul>

{%else%}

<p>NO POSTS HERE !</p>


{% endif %}


{% endblock %}