{% include 'myblogapp/base.html'%}




{%block content%}

<h1>Posts</h1>

<br>

{% if lastest_posts_list %}


<ul>

    {% for post in lastest_posts_list %}
    <li> <a href="{% url 'detail' post.pk %}">{{post.title}}</a> -- {{post.author}}


        {% if user.is_authenticated %}
        
        <small><a href="{% url 'update' post.pk %}">(Edit)</a></small>
        <small><a href="{% url 'delete' post.pk %}">(Delete)</a></small>

        {%endif%}





        <br> {{post.body}}
    </li>
    {% endfor %}

</ul>

{%else%}

<p>NO POSTS HERE !</p>


{% endif %}


{% endblock %}